click==7.1.2
et-xmlfile==1.0.1
Flask==2.0.0
itsdangerous==2.0.1
jdcal==1.4.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.22.0
opencv-contrib-python==4.1.2.30
openpyxl==3.0.5
pyzip==0.2.0
Werkzeug==2.0.1
