body {
    padding-top: 50px;
}
html, body{
    height: 100%;
}
label.my-text {
    font-size: 18px;
}
label.my-text-secondary {
    font-size: 16px;
}
textarea.my-textarea {
    resize: none;
}
img.my-img {
    max-height:145px;
    max-width:260px;
    height:auto;
    width:auto;
}
div.my-toast {
    position: absolute; 
    top: 4rem; 
    right: 1rem;
    z-index:2;
}

