html, body{
    height: 100%;
}
label.my-text {
    font-size: 18px;
}
textarea.my-textarea {
    resize: none;
}
img.my-img {
    max-height:145px;
    max-width:260px;
    height:auto;
    width:auto;
}
