<div>
  <h4>Controle de válvulas</h4>
  <button id="openProgrammingModal" type="button" class="btn btn-block btn-dark mt-2 mb-2" data-toggle="modal"
    data-target="#programmingModal"> Nova programação </button>
  <form enctype="multipart/form-data">
    <div class="form-row">
      <div class="col form-group mb-2">
        <label for="time" class="control-label my-text-secondary mb-1">Enviar arquivo de programação (opcional)</label>
        <div class="custom-file">
          <label class="custom-file-label" id="uploadUserProgrammingLabel" for="uploadImageInput"> Selecionar </label>
          <input type="file" id="uploadUserProgrammingInput" class="custom-file-input" accept=".json" multiple="false">
        </div>
      </div>
    </div>
  </form>
</div>