<div>
  <h4 class="mt-2 mb-1">Webcam</h4>
  <div class="mt-2 mb-1 row">
    <div class="col">
      <select id="selectCurrentWebcam" class="selectpicker form-control" style="min-width:104px;">
        {% for value in parameters["webcans_list"] %}
        {% if value == parameters["current"] %}
        <option selected value="{{ value }}"> Webcam {{ value + 1 }} </option>
        {% else %}
        <option value="{{ value }}"> Webcam {{ value + 1 }} </option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class='col'>
      <button id="recalibrateWebcamButton" type="button" class="btn btn-secondary btn-block">
        Recalibrar webcam
      </button>
    </div>
  </div>
</div>