
<div data-autohide="false" class="toast my-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-warning">
      <strong class="mr-auto text-dark">Problemas para configurar sua webcam &#128533;</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body bg-warning">
        <p class="text-dark">Infelizmente, não conseguimos obter imagens da sua webcam. 
            Por favor, verifique se a mesma está instalada e disponível para uso...</p>
        <button type="button" class="btn btn-lg btn-block btn-dark" onclick="location.reload(true);">
            Tentar novamente
        </button>
    </div>
</div>